:root {
	--dark: #32374d;
	--light: #6d6f76;
	--lightHover: #6d6f7681;
	--contentPadding: 12px;
	--editorFontSize: 17px;
}

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.codebox-wrapper {
	--margin: 140px;
	width: calc(100% - var(--margin));
	height: calc(100% - var(--margin));
	border-radius: 8px;
	background: var(--dark);
	display: flex;
	overflow: hidden;
	box-shadow: 0 2px 36px var(--dark);
}

code-box {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

code-box, .codebox-line-nums, .codebox-content > textarea, .line, .line > *, .line > * > * {
	font-family: monospace !important;
}

.codebox-content, .codebox-content-wrapper {
	width: 100%;
	height: 100%;
}

.codebox-content-wrapper {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.codebox-content {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.codebox-content > .codebox-code {
	padding: var(--contentPadding);
	padding-bottom: calc(var(--contentPadding) * 3);
	color: white;
	font-size: var(--editorFontSize);
}

.codebox-code {
	min-height: 100%;
	max-height: 100%;
	overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.codebox-code > .line {
	height: 20.5px;
}

.codebox-code::-webkit-scrollbar, .codebox-line-nums::-webkit-scrollbar {
  display: none;
}

.tab-control-wrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.codebox-tabs {
	width: 100%;
	height: 45px;
	border-bottom: 1px solid var(--light);
	box-shadow: 0 -2px 8px var(--light);
	position: sticky;
	top: 0;
	background: var(--dark);
	display: flex;
	justify-content: space-between;
}

.tab {
	height: 100%;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: white;
	border-right: 1px solid var(--light);
	transition: 0.15s;
	font-size: var(--editorFontSize);
	font-weight: 300;
}

.tab:hover {
	background: var(--light);
}

.ctrl-button {
	padding: 4px 8px;
	font-size: var(--editorFontSize);
	font-weight: 300;
}

.control-wrapper {
	display: flex;
	align-items: center;
	padding: 0 6px;
	gap: 6px;
}

.ctrl-button, .add-file-button {
	background: var(--lightHover);
	border: none;
	cursor: pointer;
	color: white;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	border-radius: 4px;
	transition: 0.15s;
}

.add-file-button {
	height: 28px;
	aspect-ratio: 1;
}

.add-file-button:hover {
	background: var(--light);
}

.codebox-line-nums {
	border-right: 1px solid var(--light);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: white;
	padding: var(--contentPadding);
	font-size: var(--editorFontSize);
	overflow-y: scroll;
  gap: 1px;
}

br {
	height: 19.5px;
}

.codebox-content > textarea {
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	outline: none;
	position: absolute;
	padding: var(--contentPadding);
	resize: none;
	font-size: var(--editorFontSize);
	border: none;
	background: transparent;
	color: orange;
	caret-color: white;
	z-index: 1;
	tab-size: 41px;
	line-height: 20.5px;
}

.tab-wrapper {
	display: flex;
	flex-direction: row;
}

.focused {
	background: var(--lightHover);
}

.util {
	color: orchid;
}
.number {
	color: rgb(217, 165, 69);
}
.other {
	color: rgb(200, 200, 200);
}
.string {
	color: rgb(101, 194, 101);
}
.space {
	margin-right: 5.1px;
	margin-left: 5.1px;
}
.tab-space {
	margin-right: 20.4px;
	margin-left: 20.4px;
}
.operator {
	color: rgb(103, 175, 196);
}
.comment {
	color: rgb(150, 150, 150);
}
